# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environments
.env
.venv/
venv/
ENV/

# Test & type caches
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db
