Django>=5.2
djangorestframework
drf-spectacular
djangorestframework-simplejwt
python-dotenv
psycopg2-binary
mypy
django-stubs
mypy-extensions
django-cors-headers
pytest
pytest-django
pytest-cov
requests
numpy>=1.26
matplotlib>=3.8
rdkit